//-----------  Forms, Fieldsets & Legends  ----------- */

form {
  width: 100%;

  input[type='submit'] {
    float: right;
    font-size: 1.25rem;
    margin-top: $gutterSm;
  }
}

//-----------  Fieldsets  ----------- */

fieldset {
  border: 0;
  margin: 0;
  padding: 0.33em 0 1em;
}

legend {
  @include antialiased;

  color: $grayDarker;
  font-size: 0.9em;
  text-transform: uppercase;
}

//-----------  Labels  ----------- */

label {
  @include antialiased;

  color: $grayDarker;
  display: block;
  font-size: 0.9em;
  margin: 1.25em 0 0.33em;
  text-align: left;
  text-transform: uppercase;

  small {
    color: $grayDark;
    margin-left: 0.33rem;
    text-transform: lowercase;
  }
}

label + input,
label + textarea,
label + .select-wrapper {
  margin-top: 0 !important;
}
