//-----------  iFrame  ----------- */

iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

//-----------  Navigation  ----------- */

nav {
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

//-----------  Horizontals  ----------- */

hr {
  border: 0;
  border-top: 1px solid $gray;
  margin: $gutterLg - $gutter;
}

//-----------  Images  ----------- */

img {
  border: 0;
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
}

//-----------  Blockquote  ----------- */

blockquote {
  color: inherit;
  font-style: italic;
  margin: 0;

  &::before,
  &::after {
    content: '"';
  }
}
